
    <div class="register-box">
      <div class="register-logo" style="background-color: ##17233B;color:#fff;">
        Forgot Password
      </div>

      <div class="register-box-body">
        <p class="login-box-msg">Forgot Password</p>
		<div>
      
			
	    
     </div>
        <form  name="signupForm" class="signupForm form-horizontal" role="form">
          <div class="form-group has-feedback">
            <input type="text" ng-disabled="loginName" class="form-control" placeholder="User name / Email (*)"  ng-model="signup.user_name" required focus>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
          </div>
		   <div ng-show="showSecretCode" class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="New Password" ng-model="signup.user_password" ng-required="showSecretCode">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
			
          </div>
		  <div ng-show="showSecretCode" class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="Code" ng-model="signup.randomNumber" ng-required="showSecretCode">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
			 <span>* check your registered mail</span>
          </div>
		 
		  	  
		 
		  
				  
          <div class="row">
            <div class="col-xs-8" style="display:none;">
              <div class="checkbox icheck">
                <label>
                  <input type="checkbox"> I agree to the <a href="#">terms</a>
                </label>
              </div>
            </div><!-- /.col -->
            <div class="" style="float:right;">
              <button ng-show="showGenerateBtn" type="submit" class="btn btn-primary btn-block btn-flat" ng-click="generateCode(signup.user_name)" data-ng-disabled="signupForm.$invalid">Generate Secret Code</button>
			  <button ng-show="showForgotPassBtn" type="submit" class="btn btn-primary btn-block btn-flat" ng-click="sendPassword(signup.user_name,signup.user_password,signup.randomNumber)" data-ng-disabled="signupForm.$invalid">Send Password</button>
            </div><!-- /.col -->
          </div>
        </form>

      

        <a href="#/login" class="text-center">I already have a membership</a>
      </div><!-- /.form-box -->
    </div><!-- /.register-box -->
